//.ant-dropdown-menu:before {
//  position: absolute;
//  top: -7px;
//  left: 50%;
//  display: inline-block;
//  border-right: 7px solid transparent;
//  border-bottom: 7px solid #ccc;
//  border-left: 7px solid transparent;
//  border-bottom-color: rgba(0, 0, 0, 0.2);
//  content: '';
//}
//
//.ant-dropdown-menu:after {
//  position: absolute;
//  top: -6px;
//  left: 50%;
//  display: inline-block;
//  border-right: 6px solid transparent;
//  border-bottom: 6px solid #ffffff;
//  border-left: 6px solid transparent;
//  content: '';
//}
//
//.ant-dropdown-menu-item {
//  width: auto
//}

.ant-list {
  background-color: white;
  border: 1px solid #d9d9d9;

  .ant-list-timestamp {
    color: #b3bac5;
    font-size: 13px;
  }

  .ant-list-item {
    &:hover {
      background-color: #d9d9d9 !important;
      .ant-list-item-action {
        visibility: visible;
      }
      cursor: pointer;
    }
  }

  .ant-list-item-action {
    display: flex;
    align-items: flex-start;
    color: white;
    visibility: hidden;
  }
}

.demo-infinite-container {
  height: 50vh;
  width: 50vw;
  border: 1px solid #e8e8e8;
  border-radius: 4px;

}
