<nz-table #nestedTable [nzData]="epic$ | async" [nzPageSize]="10">
  <thead>
  <tr>
    <th></th>
    <th>Epic</th>
    <th>Start date</th>
    <th>Due date</th>
    <th>Time left</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-data [ngForOf]="nestedTable.data">
    <tr>
      <td [(nzExpand)]="data.expand"></td>
      <td class="epic-name" (click)="handleClick(data.id)">{{ data.name }}</td>
      <td>{{data.startDate | date}}</td>
      <td>{{ data.endDate | date}}</td>
      <td>
        <nz-progress [nzPercent]="data.timeLeft"></nz-progress>
      </td>
      <td><a><i nz-icon nzType="eye" nzTheme="outline"></i></a></td>
    </tr>
    <tr [nzExpand]="data.expand">
      <nz-table #innerTable [nzData]="data.issues" nzSize="middle" [nzShowPagination]="false">
  <tbody>
  <tr *ngFor="let data of innerTable.data">
    <td>{{ data.name }}</td>
    <td>{{ data.description }}</td>
    <td>

    </td>
    <td></td>
    <td>
    </td>
  </tr>
  </tbody>
</nz-table>
</tr>
</ng-template>
</tbody>
</nz-table>
