<nz-table #nestedTable [nzData]="epic$ | async" [nzPageSize]="10">
  <thead>
  <tr>
    <th></th>
    <th>Epic</th>
    <th>Start date</th>
    <th>Due date</th>
    <th>Time left</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-data [ngForOf]="nestedTable.data">
    <tr>
      <td [(nzExpand)]="data.expand"></td>
      <td class="epic-name">{{ data.name }}</td>
      <td>{{data.startDate | date}}</td>
      <td>{{ data.endDate | date}}</td>
      <td>
        <nz-progress [nzPercent]="data.timeLeft"></nz-progress>
      </td>
      <td><a><i nz-icon nzType="eye" nzTheme="outline"></i></a></td>
    </tr>
    <tr [nzExpand]="data.expand">
      <nz-table #innerTable [nzData]="data.issues" nzSize="middle" [nzShowPagination]="false">
  <tbody>
  <tr *ngFor="let data of innerTable.data">
    <td>{{ data.name }}</td>
    <td>{{ data.description }}</td>
    <td>

    </td>
    <td></td>
    <td>
    </td>
  </tr>
  </tbody>
</nz-table>
</tr>
<tr>
</tr>
</ng-template>
<td *ngIf="isPm$ | async">
  <button nz-button nzType="default" (click)="showModal()"><i nz-icon nzType="plus-circle"></i>Create Epic</button>
</td>
</tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>
    Create Epic
  </ng-template>

  <ng-template #modalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your project name!">
          <nz-input-group>
            <input type="text" nz-input formControlName="name" placeholder="Epic name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Description">
          <nz-input-group>
            <input type="text" nz-input formControlName="description" placeholder="Description!" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Age!">
          <nz-input-group>
            <nz-range-picker nzFormat="yyyy/MM/dd" formControlName="rangePicker"></nz-range-picker>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="submitForm()">Submit</button>
  </ng-template>
</nz-modal>
