<div nz-row class="header">
  <div nz-col nzSpan="4">
    <div>
      <img class='icon-header' src="assets/images/icon-jira.svg" />
      <span class="logo-name">Jira</span>
    </div>
  </div>
  <div nz-col nzSpan="12">
    <ul nz-menu nzMode="horizontal" nzTheme="dark">
      <li nz-menu-item nzSelected>
        <i nz-icon nzType="mail"></i>
        Navigation One
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="mail"></i>
        Navigation One
      </li>
      <li nz-submenu nzTitle="Navigation Three">
        <ul>
          <li nz-menu-item>Option 11</li>
          <li nz-menu-item>Option 12</li>
          <li nz-menu-item>Option 13</li>
        </ul>
      </li>
    </ul>
  </div>
  <div nz-col nzSpan="4" nzOffset="4" class="username">
    <i class="user-icon" nz-icon [nzType]="'user'"></i>
    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
      <span class="name">{{username$ | async}}</span>
      <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>1st menu item</li>
        <li nz-menu-item>2nd menu item</li>
        <li nz-menu-divider></li>
        <li nz-menu-item nzDisabled>3rd menu item（disabled）</li>
      </ul>
    </nz-dropdown-menu>
  </div>
</div>
