.example-container {
  width: 181px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.header-title {
  background-color: #F4F5F7;
  position: sticky;
  border-radius: 8px;
  padding: 0px 10px;
  top: 5px;
}

.example-list {
  border: solid 1px #ccc;
  background: white;
  min-height: 104px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  background: #F4F5F7;
}

.example-box {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px 10px;
  height: 104px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
