<app-header></app-header>
<div style="min-height: 100vh; padding: 10px 4em">
  <div nz-row>
    <h2>Your work</h2>
  </div>

  <div nz-row>
    <nz-tabset style="width: 100%">
      <nz-tab nzTitle="Tab 1">
        <div nz-row style="width: 100%">
          <app-issue-list style="width: 100%" [data]="allIssues$ | async"></app-issue-list>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Tab 2">
        <div nz-row>
          <app-issue-list style="width: 100%" [data]="allIssues$ | async"></app-issue-list>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Tab 3">
        <div nz-row>
          <app-issue-list style="width: 100%" [data]="allIssues$ | async"></app-issue-list>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
<button nz-button nzType="default" (click)="logout()">Logout</button>
