#user-list {
    margin: 3em 0em 3em 3em;
}

#user-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6c7ae0;
    color: white;
    height: 55px;
    font-size: 17px;
    font-family: serif;
}

#user-table td,
#user-table th {
    border: 1px solid #ddd;
    padding: 8px;
}