<div style="min-height: 100vh; padding: 10px 4em">
  <div nz-row>
    <h2>Project</h2>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="4">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <div nz-col [nzSpan]="4" [nzOffset]="16">
      <button nz-button nzType="primary">Create Project</button>
    </div>
  </div>
  <div nz-row style="width: 100%; margin-t" >
    <nz-table #basicTable [nzData]="projects$ | async" style="width: 100%">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Lead</th>
        <th>PM</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td class="project-name" (click)="handleClick(data.id)">{{ data.name }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.leaderId }}</td>
        <td>{{ data.pmId }}</td>
        <td><a><i nz-icon nzType="edit" nzTheme="outline"></i></a></td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
