<h3>Backlog</h3>

<div cdkDropListGroup>
  <nz-collapse>
    <nz-collapse-panel *ngFor="let panel of (sprints$|async)" [nzHeader]="panel.name" [nzActive]="panel.active" [nzDisabled]="panel.disabled">
      <div class="example-container">
        <div
          cdkDropList
          [cdkDropListData]="panel.issues"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let item of panel.issues; let isTrue=true;let isLast=last">
            <div class="example-box" cdkDrag *ngIf="!isLast && !isTrue">
              <span>{{item.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
</div>
